@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.header-buttons-container{
    display: flex;
    gap: 30px;
    padding: 10px;
}
.header-button-login{
    max-width: 140px;
    width: 100%;
    border-radius: 50px;
    padding: 9px 39px;
}
.header-button-ajuda{
    min-width: 42px;
    width: 100%;
    padding: 9px;
    border-radius: 50%;
}
.header-button-ajuda,
.header-button-login{
    background-color: rgba(33, 58, 92, 0.63);
    border: 1px solid #213A5C; 
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    min-height: 42px;
}