@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.register-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form-wrapper {
    width: 100%;
    height: 100%;
    background: #F1F5F6;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

.register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.register-form > h2 {
    text-align: center;
    color: #222C2F;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.register-form-input {
    border-bottom: 1px solid #777A7C;
    background: transparent;
    padding: 10px;
    outline: none;
}

.register-form-button {
    margin: 0 auto;
    width: 240px;
    border-radius: 50px;
    border: 1px solid #DBE3E5;
    background: #213A5C;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.register-form-button:hover {
    background: #152132;
}

.register-form-wrapper > span {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-form-wrapper > span > a {
    color: #213A5C;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    .register-form > h2 {
        font-size: 28px;
    }

    .register-form-input::-webkit-input-placeholder,
    .register-form-button,
    .register-form-wrapper > span > a {
        font-size: 12px;
    }
}
@media screen and (max-width: 510px) {
    .register-form > h2 {
        font-size: 16px;
    }
}